APP_NAME=inventaris-app
APP_ENV=production
APP_KEY=base64:DmuatWdJ4KFNNwFoHhvEOj2eTncqesV6PlHCGP33SrE=
APP_DEBUG=false
APP_URL=https://inventaris-app.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=ep-restless-union-ao0lyikc-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD="endpoint=ep-restless-union-ao0lyikc$npg_4MZ3VmIBCJur"
DB_SSLMODE=require

# [VERCEL OPTIMIZATION]: Gunakan database untuk Session agar 0ms latensi (Neon DB sangat dekat dengan Vercel)
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

# [VERCEL OPTIMIZATION]: Gunakan database untuk Cache agar performa Lighthouse terjaga
CACHE_STORE=database

PUSHER_APP_ID=2163598
PUSHER_APP_KEY=0813db01ce744e040dfb
PUSHER_APP_SECRET=3f7be107ce4bc1f35762
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
